@media screen and (min-width: 768px) {

  .hero {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header h1 {
      font-size: 50px;
    }

    .boxes {
      width: 100%;

      .box-link:first-child {
        float: left;
      }

      .box-link:last-child {
        float: right;
      }
    }
  }
}

@import "../min992/Hero992";
