@import "../definition/colors";

.form-group.email {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;

  .label {
    color: @bloodOrange;
    font-weight: 400;
  }

  input {
    border-radius: 6px;
    border: 1px solid @bloodOrange;
    color: @black;
    font-size: 18px;
    height: 36px;
  }

  .input-group-btn .btn {
    background-color: @white;
    border-color: @bloodOrange;
    color: @bloodOrange;
    padding: 7px 12px;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;

    &:focus,
    &:hover {
      background-color: @bloodOrange;
      color: @white;
    }
  }
}