@import "../definition/colors.less";

.footer {
  min-height: 35px;
  background: @bloodOrange;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;

  a {
    color: @white;
    font-size: 14px;
  }

  .sites a {
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
  }
}