@import "../definition/colors.less";

.hero {

  .header h1 {
    color: @white;
    font-size: 42px;
    text-align: center;
    margin: 33px 0 66px 0;
  }

  .box-link {

    .body .quote {
      font-style: italic;
    }
  }
}

/** TABLET */
@import "../min768/Hero768.less";