@import "../definition/colors.less";

.form-group.password {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;

  input {
    border-radius: 6px 0 0 6px !important;
    border: 1px solid @bloodOrange;
    color: @black;
    font-size: 18px;
    height: 36px;
  }

  .input-group-btn .btn {
    background-color: @white;
    border-color: @bloodOrange;
    color: @bloodOrange;
    padding: 7px 12px;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;

    &:focus,
    &:hover {
      background-color: @bloodOrange;
      color: @white;
    }
  }

  .password-helper {
    position: absolute;
    z-index: 100;
    left: 8px;
    font-size: 14px;
    bottom: 3px;
    background-color: white;
    padding: 5px 7px;
  }
}

.label {
  color: @bloodOrange;
  font-weight: 400;
}