@import "../definition/colors.less";

.create-topic {
  display: block;
  padding: 15px 0;

  .input-group {

    input.create-field {
      border-radius: 6px 0 0 6px;
      border: 1px solid #f46a78;
      color: #333333;
      font-size: 18px;
      height: 54px;
      outline: none;
    }

    button.btn {
      padding: 16px 12px;
      background: linear-gradient(135deg, #fabb8f -66%, #f46a78 100%);
      border-color: @bloodOrange;
      color: @white;
      outline: none;
    }
  }
}

.panel.panel-default {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}