@import "../definition/colors.less";

.create-topic {
  display: block;
  margin: 35px 0 35px;

  .input-group {

    input.create-field {
      border-radius: 4px 0 0 4px;
      border: none;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      color: #333333;
      font-size: 18px;
      height: 54px;
      outline: none;
      width: ~'calc(100% - 52px)';
      float: right;
    }

    button.btn {
      background: @white;
      border: none;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      color: @bloodOrange;
      outline: none;
      padding: 17px 12px;
      width: 75px;
      z-index: 100;
    }
  }
}

.topic-list {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  width: 100%;

  .votes {
    align-items: center;
    color: @white;
    display: flex;
    flex-direction: column;
    height: 57px;
    justify-content: center;
    cursor: pointer;
    width: 57px;

    &:hover {
      .glyphicon-chevron-up {
        animation-name: voteicon;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }

    .amount {
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
    }

    .voted {
      font-size: 12px;
      font-weight: 300;
    }
  }

  .panel.panel-default {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }
  
  @keyframes voteicon {
    0% {margin: 0}
    50% {margin: -5px 0 5px}
    75% {margin: -3px 0 3px}
    100% {margin: 0}
  }
}

