@import "../definition/colors.less";

.create-topic {
  display: block;
  padding: 15px 0;

  .submit button {
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background: @red;
    float: right;
    width: auto;
    outline: none;
  }
}

.panel.panel-default {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}