@import "../definition/colors.less";

.versions {
  max-width: 500px;
  margin: auto;

  > div {
    margin-bottom: 30px;
  }

  h1, h2, h3, h4, h5 {
    color: @white;
    margin-bottom: 10px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      color: @bloodOrange;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .panel.panel-default {
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  }
}